# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
brain_tf_env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Dataset Folders
# =========================
Training/
Testing/
Crop-Brain-MRI/
Test-Data/

# Optional dataset archives
*.zip
*.rar
*.7z

# =========================
# Models
# =========================
saved_models/
*.h5
*.keras
*.pth
*.pt

# =========================
# Figures / Outputs
# =========================
figures/
logs/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db